@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-y: scroll;
  height: 100%;
}

body {
  font-size: 18px;
  font-size: clamp(12px, calc(100vw * 18 / 960), 18px);
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 2px;
  height: 100%;
}

@media screen and (max-width: 960px) {
  body {
    // font-size: clamp(12px, calc(100vw * 18 / 960), 18px);
  }
}

.touch-device body {
  // font-size: 16px;
}

h1, h2 {
  // font-family: 'BIZ UDGothic', sans-serif;
  // font-family: 'Kosugi Maru', sans-serif;
  // line-height: 0.8;
  text-align: center;
  // padding: 0.5em 0.5em;
  margin-bottom: 16px;
}

:is(h1, h2, h3, h4, h5) span {
  white-space: nowrap;
}

th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

picture {
  display: inline-block;
}

section, p, ul, ol, dl, details, picture {
  margin-bottom: 1em;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

img.full-width {
  width: 100%;
}

ul, ol, li {
  list-style: none;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
}

.Container {
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
  // min-height: 100dvh;
  position: relative;
}

.main, .page_footer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* header block */@at-root
.page_header {
  padding-top: clamp(1px, calc((100vw - 960px) * 8 / 960), 8px);
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.page-title {
  color:rgb(42, 110, 25);
  font-size: clamp(8px, calc(100vw * 16 /960), 11px);
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: clamp(4px, calc(100vw * 16 / 960), 16px);
}

.corp-logo {
  width: clamp(30px, calc(100vw * 80 / 960), 80px);
  height: auto;
  max-height: 2em;
  aspect-ratio: 400 / 143;
  margin-left: clamp(8px, calc(100vw * 16 /960), 16px);  
}

.page-title span {
  white-space: nowrap;
}

.ace-branch-logo {
  width: clamp(120px, calc(100vw * 310 / 960), 310px);
  margin-left: auto;
  margin-right: clamp(8px, calc(100vw * 32 /960), 32px);  
}

/* Header Hero Section */
.page_header-hero {
  background: url(../images/hero_bg.jpg) left top no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100% - 28px);
  // max-height: 100vh;
  // max-height: 100dvh;
  // min-height: 400px;
  // padding: clamp(4px, calc(100vw * 16 / 768), 16px);
  // aspect-ratio: 956 / 458;
  position: relative;
}

@media screen and (max-width: 600px) {
  .page_header-hero {
    background-position: left -120px top 0px;
  }
}

/*
.hero img {
  aspect-ratio: 956 / 458;
  object-fit: contain;
  height: auto;
}
*/

.hazard-type-list {
  font-size: clamp(8px, calc(100vw * 13 / 600), 13px);
  display: flex;
  gap: 4px;
  /*position: absolute;*/
  padding: clamp(4px, calc(100vw * 16 / 768), 16px);

}

:is(.hazard-type-list > li) {
  color: rgb(42, 110, 25);
  line-height: 0.8;
  background-color: #fff;
  padding: 0.3em 0.4em;
  border-radius: 3px;
}

:is(.hazard-type-list > li > em) {
  font-weight: 600;
  font-style: normal;
}

.catchcopy-holder {
  // background-color: rgba(255, 255, 255, .75);
  width: clamp(124px, calc(100vw * 312 / 960), 312px);
  padding-top: clamp(8px, calc(100vw * 16 / 960), 16px);
  padding-right: clamp(16px, calc(100vw * 32 / 960), 32px);
  padding-bottom: clamp(8px, calc(100vw * 16 / 960), 16px);
  padding-left: clamp(8px, calc(100vw * 16 / 960), 16px);
  position: absolute;
  top: clamp(0px, calc(100vw * 8 / 960), 32px);
  right: 0;
  backdrop-filter: blur(3px);
  aspect-ratio: 192 / 59;
}

.catchcopy {
  width: 100%;
  object-fit: contain;
}

.site-concept {
  color: rgb(0, 110, 255);
  font-size: clamp(18px, calc(100vw * 32 / 960), 32px);
  font-family: 'Noto Serif JP', serif;
  font-weight: 500;
  background-color: #ffffff66;
  place-self: center;
  width: fit-content;
  backdrop-filter: blur(3px);
}

.site-message-holder {
    background-color: hsl(189deg 100% 78%);;
}

.site-message {
  color: #333;
  font-size: clamp(10px, calc(100vw * 16 / 960), 16px);
  font-weight: 300;
  width: fit-content;
  padding: clamp(4px, calc(100vw * 8 / 768), 8px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

:is(.site-message span) {
  white-space: nowrap;
}
/*
.site-message::before {
  content: '';
  background-color: rgb(0, 110, 255);
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
*/


/* Main Block ------------------------------------------------- */
:is(.main section) {
  padding: 16px
}

:is(.main dd) {
  padding-left: 1em;
  margin-bottom: 0.5em;
}

:is(.main li::before) {
  content: '・';
  padding-right: 0.25em;
}

:is(.main .top-section) {
  padding: 0;
  margin-bottom: 32px; 
  position: relative;
}

:is(.main .top-section section) {
  padding: 16px;
}
/*
.top-section::after {
  content: '';
  display: block;
  width: 100%;
  height: auto;
  border-bottom: double 3px #999;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}
*/
:is(.main .top-section-title) {
  font-size: clamp(20px, calc(100vw * 32 / 960), 32px);
  // background-color:rgb(0, 110, 255, 0.25);
  border-bottom: solid 2px rgb(0, 110, 255, 0.25);
}

:is(.main .top-section) {
  padding-top: 64px;
}




/* Footer Block ------------------------------------------------*/
.page_footer {
  display: grid;
  grid-template-rows: 0 2fr 0.5fr auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 630px) {
  .page_footer {
    grid-template-rows: 0 2fr 2fr 0.5fr auto;
  }
}

:is(.touch-device .page_footer) {
  height: 100vh;
  height: 100dvh;
  max-height: 600px;
}

.page_footer:hover::before {
  content: '';
  background: rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(2px);
}

.page_footer::after {
  content: '';
  background-image: url(../images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
/*
@media screen and (orientation: landscape) {
  .page_footer {
    height: auto;
    max-height: inherit;
  }
}
*/

.l-nav {
  position: relative;
  z-index: 100;
  transform: scale(0.8) translateX(-240px);
  transform-origin: top left;
  transition: all 0.2s 0.15s ease;
}

:is(.page_footer:hover .l-nav) {
  transform: scale(0.8) translateX(0);
}

:is(.l-nav > ul) {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
  padding-top: 16px;
}

/*
:is(.l-nav > ul > li > a) {
  line-height: 0.8;
  display: block;
  height: 44px;
  padding: 0.2em 0.4em;
}
*/

.branch-info-holder {
  position: absolute;
  top: 32px;
  left: 32px;
}

@media screen and (max-width: 630px) {
  .branch-info-holder {
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
    // top: 0;
    left: 0;
  }
}

.branch-info {
  aspect-ratio: 231 / 140;
  height: auto;
  transform: scale(1.3);
  transform-origin: top left;
}

@media screen and (max-width: 630px) {
  .branch-info {
    transform: scale(1);
  }
}

.access-map-holder {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
}

.access-map {
  width: clamp(300px, calc(100vmin * 420 / 960), 420px);
  padding: 16px 16px 0;
  height: auto;
  // transform: scale(1.2);
  transform-origin: top right;
}

.access-route {
  width: clamp(300px, calc(100vmin * 420 / 960), 420px);
  height: auto;
  transform: scale(0.7);
}

.youtube-qr-holder {
  display: flex;
  gap: 16px;
  align-items: center;
  width: fit-content;
  margin-right: 64px;
  margin-left: auto;
  transform: scale(0.8);
}

.youtube-qr-title {
  aspect-ratio: 120 / 81;
  width: clamp(80px, calc(100vw * 130 / 411), 130px)
}

.copyright {
  font-weight: 300;
  text-align: center;
  background-color: rgba(255, 255, 255, .75);
}

/* Local Navigation Button */
.button{
  display: block ;
  position : relative ;
  width : 240px ;
  height : 60px ;
  background: rgb(153,191,187);
  background: radial-gradient( rgba(93,108,107,.3) 0%, rgba(95,162,158,0) 90%);
  box-shadow : 0 0 24px rgba(116,132,145,1) ;
  transition : all .7s ease ;
}
.button::before{
  content : '' ;
  position : absolute ;
  z-index : 2 ;
  top : -4px ;
  left : 0 ;
  width : 160px ;
  height : 10px ;
  border-radius : 50% ;
  background: rgb(170,255,240);
  background: radial-gradient( rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 100%);
}
.button::after{
  content : '' ;
  position : absolute ;
  z-index : 2 ;
  bottom : -4px ;
  right : 0 ;
  width : 160px ;
  height : 10px ;
  border-radius : 50% ;
  background: rgb(170,255,240);
  background: radial-gradient( rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 100%);
}
.button__wrapper{
  width : 100% ;
  height :100% ;
  clip-path: polygon(0% 0%, 0 100%, 0.7% 100%, 0.7% 3%, 99.3% 3%, 99.3% 98%, 0% 98%, 0% 100%, 100% 100%, 100% 0%);
  background-color:hsla(0,0%,100%,1);
  background-image:
  radial-gradient(at 0% 0%, hsla(180,100%,98%,1) 0px, transparent 50%),
  radial-gradient(at 29% 0%, hsla(189,100%,78%,1) 0px, transparent 50%),
  radial-gradient(at 0% 48%, hsla(355,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 100% 62%, hsla(340,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 90% 98%, hsla(169,88%,83%,1) 0px, transparent 50%),
  radial-gradient(at 26% 100%, hsla(240,0%,44%,1) 0px, transparent 50%),
  radial-gradient(at 79% 0%, hsla(336,0%,51%,1) 0px, transparent 50%);
}
.button__box{
  display : flex ;
  justify-content : center ;
  align-items : center ;
  position : absolute ;
  z-index : 1 ;
  top : 3% ;
  left : 0.8% ;
  width : 98.4% ;
  height : 94% ;
  color : rgba(255, 255, 255);
  font-weight: 500;
  letter-spacing : 2px ;
  background: rgb(255,255,255);
  background: linear-gradient(120deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 50%);
  transition : all 1s ease ;
}
.button__box::before{
  content : '' ;
  position : absolute ;
  z-index : -1 ;
  top : 0 ;
  left : 0 ;
  width : 100% ;
  height : 100% ;
  background : linear-gradient( 120deg , rgba(255,255,255,.4),rgba(255,255,255,0)) ;
  clip-path : path('M215.98,12.57c8.09,0,16.1,.12,24.02,.33V0H0V44.89C53.01,25.06,130.12,12.57,215.98,12.57Z');
}
.button--round{
  border-radius : 30px ;
}
.button--round .button__wrapper{
  clip-path: path('M210,1c15.99,0,29,13.01,29,29s-13.01,29-29,29H30C14.01,59,1,45.99,1,30S14.01,1,30,1H210m0-1H30C13.43,0,0,13.43,0,30s13.43,30,30,30H210c16.57,0,30-13.43,30-30S226.57,0,210,0h0Z');
}
.button--round .button__box{
  border-radius : 30px ;
  overflow : hidden ;
}
.button:hover{
  box-shadow : 0 0 24px rgba(116,132,145,0) ;
}
.button:hover .button__box{
  letter-spacing : 8px ;
  color : rgba(255,255,255,1) ;
}



/* TOP-PAGE Main Block -------------------------------------------------- */
:is(.Index .main .top-section)::before {
  content: attr(title);
  color: #999;
  font-family: 'Noto-Serif', serif;
  font-weight: 900;
  font-size: clamp(32px, calc(100vw * 48 / 960), 48px);
  font-style: oblique;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: clamp(80px, calc(100vw * 110 / 960), 110px);
  line-height: 1.2;
  height: 48px;
  padding-left: clamp(100px, calc(100vw * 140 / 960), 140px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

:is(.Index .intro)::before {
  background-image: url(../images/contents01.svg);
}

:is(.Index .curriculumn)::before {
  background-image: url(../images/contents02.svg);
}

:is(.Index .activities)::before {
  background-image: url(../images/contents03.svg);
}

:is(.Index .users-voice)::before {
  background-image: url(../images/contents04.svg);
}

:is(.Index .facilities)::before {
  background-image: url(../images/contents05.svg);
}

:is(.Index .staff-message-holder) { 
  position: relative;
}

:is(.Index .staff-photo-holder) {
  width: 100%;
  max-width: 100vw;
}

:is(.Index .staff-photo) {
  width: 100%;
}

:is(.Index .top-section > .staff-message) {
  padding: 1em;
}

.staff-message-wrapper {
  width: clamp(240px, calc(100vw * 60 /100), 60%);
  height: auto;
  aspect-ratio: 400 / 166;
  position: absolute;
  top: 16px;
  left: 16px;
}

.staff-message-bg {
  width: 100%;
  height: auto;
  margin: 5% 0 0;
  position: relative;
}

.staff-message {
  font-size: clamp(10px, calc(100vw * 0.8 * 16 / 960), 0.8em);
  line-height: 1.1;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


:is(.staff-message span) {
  white-space: nowrap;
}


@media screen and (max-width: 600px) {
  .staff-message-wrapper {
    line-height: 1;
    width: 320px;
    transform: scale(0.75);
    transform-origin: top left;
  }

  .staff-message {
    font-size: 6px;
    line-height: 1;
  }
}


/* 事業所紹介セクション*/
.intro-staff-message {
}

:is(.Index .whats-ace-title) {
  font-size: clamp(16px, calc(100vw * 32 / 960), 32px);
  width: fit-content;
  margin: 0 auto;
}

:is(.Index .whats-ace-title-image) {
  width: clamp(36px, calc(100vw * 64 / 960), 64px);
  padding: 8px;
  // margin-bottom: -16px
}

:is(.Index .ace-concept-image-holder) {
  display: block;
  width: fit-content;
  margin: 16px auto;
}
