* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-y: scroll;
  height: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  height: 100%;
}

img.full-width {
  width: 100%;
}

ul, ol, li {
  list-style: none;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
}

.Container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  height: 100vh;
  height: 100dvh;
  margin: 0 auto;
}

.main {
  flex: 1;
}

/* header block */
.page_header {
  padding-top: clamp(1px, 0.8333333333vw, 8px);
}

.page-title {
  font-size: clamp(8px, 1.6666666667vw, 11px);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: clamp(4px, 1.6666666667vw, 16px);
}

.corp-logo {
  width: clamp(30px, 8.3333333333vw, 80px);
  height: auto;
  max-height: 2em;
  aspect-ratio: 400/143;
  margin-left: clamp(8px, 1.6666666667vw, 16px);
}

.page-title span {
  white-space: nowrap;
}

.ace-branch-logo {
  width: clamp(120px, 32.2916666667vw, 310px);
  margin-left: auto;
  margin-right: clamp(8px, 3.3333333333vw, 32px);
}

.page_header-hero {
  background: url(../images/hero_bg.jpg) left top no-repeat;
  background-size: contain;
  aspect-ratio: 956/458;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: auto;
  /*padding: clamp(4px, calc(100vw * 16 / 768), 16px);*/
  position: relative;
}

/*
.hero img {
  aspect-ratio: 956 / 458;
  object-fit: contain;
  height: auto;
}
*/
.hazard-type-list {
  font-size: clamp(8px, 2.1666666667vw, 13px);
  display: flex;
  gap: 4px;
  /*position: absolute;*/
  padding: clamp(4px, 2.0833333333vw, 16px);
}

:is(.hazard-type-list > li) {
  color: rgb(42, 110, 25);
  line-height: 0.8;
  background-color: #fff;
  padding: 0.3em 0.4em;
  border-radius: 3px;
}

:is(.hazard-type-list > li > em) {
  font-weight: 600;
  font-style: normal;
}

.site-concept {
  color: rgb(0, 110, 255);
  font-size: clamp(18px, 3.3333333333vw, 32px);
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.6666666667);
  place-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.site-message {
  color: #fff;
  font-size: clamp(10px, 1.6666666667vw, 16px);
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: clamp(4px, 1.0416666667vw, 8px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

:is(.site-message span) {
  white-space: nowrap;
}

.site-message::before {
  content: "";
  background-color: rgb(0, 110, 255);
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

/* Footer Block */
.page_footer {
  display: grid;
  grid-template-rows: 32px 2fr 1fr auto;
  /*
  height: clamp(80vw, calc(100vw * 420 / 960), 420px);
  max-height: 420px;
  */
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.page_footer::before {
  content: "";
  /*background: #00000066;*/
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.page_footer::after {
  content: "";
  background-image: url(../images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}

/*
@media screen and (orientation: landscape) {
  .page_footer {
    height: auto;
    max-height: inherit;
  }
}
*/
.l-nav {
  transform: translateX(-240px);
  /* visibility: hidden; */
}

:is(.l-nav > ul) {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 16px;
}

/*
:is(.l-nav > ul > li > a) {
  line-height: 0.8;
  display: block;
  height: 44px;
  padding: 0.2em 0.4em;
}
*/
.access-map-holder {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.access-map {
  width: clamp(300px, 43.75vmin, 420px);
  padding: 0 16px;
  height: auto;
}

.youtube-qr-holder {
  display: flex;
  gap: 16px;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 64px;
  margin-left: auto;
}

.youtube-qr-title {
  aspect-ratio: 120/81;
  width: clamp(80px, 31.6301703163vw, 130px);
}

.copyright {
  font-weight: 300;
  text-align: center;
}

/* Local Navigation Button */
.button {
  display: block;
  position: relative;
  width: 240px;
  height: 60px;
  background: rgb(153, 191, 187);
  background: radial-gradient(rgba(93, 108, 107, 0.3) 0%, rgba(95, 162, 158, 0) 90%);
  box-shadow: 0 0 24px rgb(116, 132, 145);
  transition: all 0.7s ease;
}

.button::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: -4px;
  left: 0;
  width: 160px;
  height: 10px;
  border-radius: 50%;
  background: rgb(170, 255, 240);
  background: radial-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0) 100%);
}

.button::after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -4px;
  right: 0;
  width: 160px;
  height: 10px;
  border-radius: 50%;
  background: rgb(170, 255, 240);
  background: radial-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0) 100%);
}

.button__wrapper {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 0.7% 100%, 0.7% 3%, 99.3% 3%, 99.3% 98%, 0% 98%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0 100%, 0.7% 100%, 0.7% 3%, 99.3% 3%, 99.3% 98%, 0% 98%, 0% 100%, 100% 100%, 100% 0%);
  background-color: hsl(0deg, 0%, 100%);
  background-image: radial-gradient(at 0% 0%, hsl(180deg, 100%, 98%) 0px, transparent 50%), radial-gradient(at 29% 0%, hsl(189deg, 100%, 78%) 0px, transparent 50%), radial-gradient(at 0% 48%, hsl(355deg, 0%, 100%) 0px, transparent 50%), radial-gradient(at 100% 62%, hsl(340deg, 0%, 100%) 0px, transparent 50%), radial-gradient(at 90% 98%, hsl(169deg, 88%, 83%) 0px, transparent 50%), radial-gradient(at 26% 100%, hsl(240deg, 0%, 44%) 0px, transparent 50%), radial-gradient(at 79% 0%, hsl(336deg, 0%, 51%) 0px, transparent 50%);
}

.button__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 0.8%;
  width: 98.4%;
  height: 94%;
  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: 2px;
  background: rgb(255, 255, 255);
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 50%);
  transition: all 1s ease;
}

.button__box::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  -webkit-clip-path: path("M215.98,12.57c8.09,0,16.1,.12,24.02,.33V0H0V44.89C53.01,25.06,130.12,12.57,215.98,12.57Z");
          clip-path: path("M215.98,12.57c8.09,0,16.1,.12,24.02,.33V0H0V44.89C53.01,25.06,130.12,12.57,215.98,12.57Z");
}

.button--round {
  border-radius: 30px;
}

.button--round .button__wrapper {
  -webkit-clip-path: path("M210,1c15.99,0,29,13.01,29,29s-13.01,29-29,29H30C14.01,59,1,45.99,1,30S14.01,1,30,1H210m0-1H30C13.43,0,0,13.43,0,30s13.43,30,30,30H210c16.57,0,30-13.43,30-30S226.57,0,210,0h0Z");
          clip-path: path("M210,1c15.99,0,29,13.01,29,29s-13.01,29-29,29H30C14.01,59,1,45.99,1,30S14.01,1,30,1H210m0-1H30C13.43,0,0,13.43,0,30s13.43,30,30,30H210c16.57,0,30-13.43,30-30S226.57,0,210,0h0Z");
}

.button--round .button__box {
  border-radius: 30px;
  overflow: hidden;
}

.button:hover {
  box-shadow: 0 0 24px rgba(116, 132, 145, 0);
}

.button:hover .button__box {
  letter-spacing: 8px;
  color: rgb(255, 255, 255);
}
/*# sourceMappingURL=style.css.map */